<li id="articles-<%= @article.id %>">
<%= image_tag @article.image.url %>
<span class="Title"> <%= @article.title %>  </span>
<span class="content"><%= @article.content %></span>
<span class="content"><%= @article.content %></span>
</li>
